{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Store</h1>
<div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card-mb-2" >
            <img class="card-img-top" src="{{ product.image }}">
                    <div class="card-body">
                    <h5 class="card-title"> {{ product.name }}</h5>
                    <p class="card-text">{{ product.preview_text }}</p>
                    </div>
                <div class='card-footer text-center'>
                <a href="#" class="btn btn-success">Add to Cart</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}